
  @media screen and (max-width: 600px){body{background-size: cover;}}
  #particles-js{height: 100%}
  .loginBox
  {
  font-family: sans-serif;
   
    
    width: 500px;
    min-height: 200px;
    background: #0e0d0d;
    border-radius: 10px;
    padding: 10px 40px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 2px #151313;
    margin:30px 0px 40px 0px ;
  }
  .user
  {margin: 0 auto;
    display: block;
    margin-bottom: 20px
  }
   
    .loginBox input
    {width: 100%;
      margin-bottom: 20px
    }
    .loginBox input[type="email"],
    .loginBox input[type="password"],
    .loginBox input[type="text"], 
    .loginBox input[type="number"]
    {border: none;
      border-bottom: 2px solid #262626;
      outline: none;
      height: 40px;
      color: #fff;
      background: transparent;
      font-size: 16px;
      padding-left: 20px;
      box-sizing: border-box
    }
    .loginBox input[type="email"]:hover, .loginBox input[type="password"]:hover, .loginBox input[type="text"]:hover, .loginBox input[type="number"]:hover
    {
      color: #42F3FA;
      border: 1px solid #42F3FA;
      box-shadow: 0 0 5px rgba(0,255,0,.3), 0 0 10px rgba(0,255,0,.2), 0 0 15px rgba(0,255,0,.1), 0 2px 0 black
    }
    .loginBox input[type="email"]:focus, .loginBox input[type="password"]:focus, .loginBox input[type="text"]:focus, .loginBox input[type="number"]:focus
    {
      border-bottom: 2px solid #42F3FA
    }
    .inputBox
    {
      position: relative
    }
    .inputBox span
    {
      position: absolute;
      top: 10px;
      color: #262626
    }
    .loginBox .login , .signups
    {
      
      height: 40px;
      font-size: 16px;
      background-color: transparent ;
      color: #fff;
      border-radius: 20px;
      border:solid 1px  rgb(80, 80, 223);
      
      width: 100%;
    }
    .loginBox .login:hover{
      background-color:  #25238f;

    }
    .loginBox #signup:hover{
      background-color:  #378f23;

    }
    
    .subcolor
    {
      color: #59238F;
    }
   